<li><div><%= check_box_tag :"categories[]", "any", @categories.include?("any") %></div><div><%= label_tag :any, "Any", class: "any" %></div></li>
<li><div><%= check_box_tag :"categories[]", "alcohol", @categories.include?("alcohol") %></div><div><%= label_tag :alcohol, "Alcohol"%></div></li>
<li><div><%= check_box_tag :"categories[]", "assault", @categories.include?("assault") %></div><div><%= label_tag :assault, "Assault"%></div></li>
<li><div><%= check_box_tag :"categories[]", "bikes", @categories.include?("bikes") %></div><div><%= label_tag :bikes, "Bikes"%></div></li>
<li><div><%= check_box_tag :"categories[]", "breach", @categories.include?("breach") %></div><div><%= label_tag :breach, "Breach of peace/disorderly conduct"%></div></li>
<li><div><%= check_box_tag :"categories[]", "burglary", @categories.include?("burglary") %></div><div><%= label_tag :burglary, "Burglary"%></div></li>
<li><div><%= check_box_tag :"categories[]", "dispute", @categories.include?("dispute") %></div><div><%= label_tag :dispute, "Dispute"%></div></li>
<li><div><%= check_box_tag :"categories[]", "driving", @categories.include?("driving") %></div><div><%= label_tag :driving, "Driving while intoxicated"%></div></li>
<li><div><%= check_box_tag :"categories[]", "drug", @categories.include?("drug") %></div><div><%= label_tag :drug, "Drug offenses"%></div></li>
<li><div><%= check_box_tag :"categories[]", "fraud", @categories.include?("fraud") %></div><div><%= label_tag :fraud, "Fraud/forgery"%></div></li>
<li><div><%= check_box_tag :"categories[]", "harassment", @categories.include?("harassment") %></div><div><%= label_tag :harassment, "Harassment"%></div></li>
<li><div><%= check_box_tag :"categories[]", "miscellaneous", @categories.include?("miscellaneous") %></div><div><%= label_tag :miscellaneous, "Miscellaneous"%></div></li>
<li><div><%= check_box_tag :"categories[]", "robbery", @categories.include?("robbery") %></div><div><%= label_tag :robbery, "Robbery"%></div></li>
<li><div><%= check_box_tag :"categories[]", "sexual", @categories.include?("sexual") %></div><div><%= label_tag :sexual, "Sexual offense"%></div></li>
<li><div><%= check_box_tag :"categories[]", "theft", @categories.include?("theft") %></div><div><%= label_tag :theft, "Theft"%></div></li>
<li><div><%= check_box_tag :"categories[]", "trespassing", @categories.include?("trespassing") %></div><div><%= label_tag :trespassing, "Trespassing"%></div></li>
<li><div><%= check_box_tag :"categories[]", "vehicles", @categories.include?("vehicles") %></div><div><%= label_tag :vehicles, "Vehicles"%></div></li>
<li><div><%= check_box_tag :"categories[]", "wanted", @categories.include?("wanted") %></div><div><%= label_tag :wanted, "Wanted person"%></div></li>
<li><div><%= check_box_tag :"categories[]", "weapons", @categories.include?("weapons") %></div><div><%= label_tag :weapons, "Weapons"%></div></li>
