<li><%= check_box_tag :alcohol %><%= label_tag :alcohol, "Alcohol"%></li>
<li><%= check_box_tag :assault %><%= label_tag :assault, "Assault"%></li>
<li><%= check_box_tag :bikes %><%= label_tag :bikes, "Bikes"%></li>
<li><%= check_box_tag :breach %><%= label_tag :breach, "Breach of peace/disorderly conduct"%></li>
<li><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary"%></li>
<li><%= check_box_tag :dispute %><%= label_tag :dispute, "Dispute"%></li>
<li><%= check_box_tag :driving %><%= label_tag :driving, "Driving while intoxicated"%></li>
<li><%= check_box_tag :drug %><%= label_tag :drug, "Drug offenses"%></li>
<li><%= check_box_tag :fraud %><%= label_tag :fraud, "Fraud/forgery"%></li>
<li><%= check_box_tag :harassment %><%= label_tag :harassment, "Harassment"%></li>
<li><%= check_box_tag :miscellaneous %><%= label_tag :miscellaneous, "Miscellaneous"%></li>
<li><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery"%></li>
<li><%= check_box_tag :sexual %><%= label_tag :sexual, "Sexual offense"%></li>
<li><%= check_box_tag :theft %><%= label_tag :theft, "Theft"%></li>
<li><%= check_box_tag :trespassing %><%= label_tag :trespassing, "Trespassing"%></li>
<li><%= check_box_tag :vehicles %><%= label_tag :vehicles, "Vehicles"%></li>
<li><%= check_box_tag :wanted %><%= label_tag :wanted, "Wanted person"%></li>
<li><%= check_box_tag :weapons %><%= label_tag :weapons, "Weapons"%></li>
