<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "ARSON" %><%= label_tag :"ARSON", "Arson"%></li>
<li data_case_category="assault"><%= check_box_tag :"incidents[]", "ASSAULT-WEAPON-NON FIREARM" %><%= label_tag :"ASSAULT-WEAPON-NON FIREARM", "Assault-weapon-non firearm"%></li>
<li data_case_category="assault"><%= check_box_tag :"incidents[]", "ASSAULTING A POLICE OFFICER OR FIREFIGHTER" %><%= label_tag :"ASSAULTING A POLICE OFFICER OR FIREFIGHTER", "Assaulting a police officer or firefighter"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "ATTEMPTED THEFT" %><%= label_tag :"ATTEMPTED THEFT", "Attempted theft"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "BREACH OF PEACE" %><%= label_tag :"BREACH OF PEACE", "Breach of peace"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-APARTMENT-NON-FORCIBLE" %><%= label_tag :"BURGLARY-APARTMENT-NON-FORCIBLE", "Burglary-apartment-non-forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-ATTEMPT" %><%= label_tag :"BURGLARY-ATTEMPT", "Burglary-attempt"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-COMMERCIAL-FORCIBLE" %><%= label_tag :"BURGLARY-COMMERCIAL-FORCIBLE", "Burglary-commercial-forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-NOTHING TAKEN" %><%= label_tag :"BURGLARY-NOTHING TAKEN", "Burglary-nothing taken"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-OTHER-FORCIBLE" %><%= label_tag :"BURGLARY-OTHER-FORCIBLE", "Burglary-other-forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-OTHER-NON FORCIBLE" %><%= label_tag :"BURGLARY-OTHER-NON FORCIBLE", "Burglary-other-non forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-RESIDENCE-NON FORCIBLE" %><%= label_tag :"BURGLARY-RESIDENCE-NON FORCIBLE", "Burglary-residence-non forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-SCHOOL/COLLEGE/UNIVERSITY-FORCIBLE" %><%= label_tag :"BURGLARY-SCHOOL/COLLEGE/UNIVERSITY-FORCIBLE", "Burglary-school/college/university-forcible"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "BURGLARY-SCHOOL/COLLEGE/UNIVERSITY-NON FORCIBLE" %><%= label_tag :"BURGLARY-SCHOOL/COLLEGE/UNIVERSITY-NON FORCIBLE", "Burglary-school/college/university-non forcible"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "CARRYING A BB GUN" %><%= label_tag :"CARRYING A BB GUN", "Carrying a bb gun"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "CARRYING A CONCEALED WEAPON" %><%= label_tag :"CARRYING A CONCEALED WEAPON", "Carrying a concealed weapon"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "CARRYING WEAPON IN MOTOR VEHICLE" %><%= label_tag :"CARRYING WEAPON IN MOTOR VEHICLE", "Carrying weapon in motor vehicle"%></li>
<li data_case_category="fraud"><%= check_box_tag :"incidents[]", "CONFIDENCE-FLIM FLAM" %><%= label_tag :"CONFIDENCE-FLIM FLAM", "Confidence-flim flam"%></li>
<li data_case_category="fraud"><%= check_box_tag :"incidents[]", "CREDIT CARD FRAUD" %><%= label_tag :"CREDIT CARD FRAUD", "Credit card fraud"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :"incidents[]", "CRIMINAL IMPERSONATION-NON POLICE" %><%= label_tag :"CRIMINAL IMPERSONATION-NON POLICE", "Criminal impersonation-non police"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "CRIMINAL MISCHIEF-PRIVATE PROPERTY" %><%= label_tag :"CRIMINAL MISCHIEF-PRIVATE PROPERTY", "Criminal mischief-private property"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "CRIMINAL MISCHIEF-PUBLIC PROPERTY" %><%= label_tag :"CRIMINAL MISCHIEF-PUBLIC PROPERTY", "Criminal mischief-public property"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :"incidents[]", "CRIMINAL SIMULATION" %><%= label_tag :"CRIMINAL SIMULATION", "Criminal simulation"%></li>
<li data_case_category="trespassing"><%= check_box_tag :"incidents[]", "CRIMINAL TRESPASS" %><%= label_tag :"CRIMINAL TRESPASS", "Criminal trespass"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "CRUELTY TO ANIMALS" %><%= label_tag :"CRUELTY TO ANIMALS", "Cruelty to animals"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "DISCHARGING FIREWORKS" %><%= label_tag :"DISCHARGING FIREWORKS", "Discharging fireworks"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "DISORDERLY CONDUCT" %><%= label_tag :"DISORDERLY CONDUCT", "Disorderly conduct"%></li>
<li data_case_category="dispute"><%= check_box_tag :"incidents[]", "DISPUTE-NO DISTURBANCE" %><%= label_tag :"DISPUTE-NO DISTURBANCE", "Dispute-no disturbance"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "DOG BITE" %><%= label_tag :"DOG BITE", "Dog bite"%></li>
<li data_case_category="driving drug alcohol vehicles"><%= check_box_tag :"incidents[]", "DRIVING WHILE INTOXICATED-ALCOHOL" %><%= label_tag :"DRIVING WHILE INTOXICATED-ALCOHOL", "Driving while intoxicated-alcohol"%></li>
<li data_case_category="driving drug vehicles"><%= check_box_tag :"incidents[]", "DRIVING WHILE INTOXICATED-DRUGS" %><%= label_tag :"DRIVING WHILE INTOXICATED-DRUGS", "Driving while intoxicated-drugs"%></li>
<li data_case_category="vehicles"><%= check_box_tag :"incidents[]", "EVADING RESPONSIBILITY" %><%= label_tag :"EVADING RESPONSIBILITY", "Evading responsibility"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :"incidents[]", "FALSELY REPORTING AN INCIDENT" %><%= label_tag :"FALSELY REPORTING AN INCIDENT", "Falsely reporting an incident"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :"incidents[]", "FORGERY OF GOVERNMENT INSTRUMENTS" %><%= label_tag :"FORGERY OF GOVERNMENT INSTRUMENTS", "Forgery of government instruments"%></li>
<li data_case_category="fraud"><%= check_box_tag :"incidents[]", "FORGERY-OTHER (CHECKS MOTOR VEHICLE" %><%= label_tag :"FORGERY-OTHER (CHECKS MOTOR VEHICLE", "Forgery-other (checks motor vehicle"%></li>
<li data_case_category="fraud drug"><%= check_box_tag :"incidents[]", "FORGING NARCOTICS PRESCRIPTIONS" %><%= label_tag :"FORGING NARCOTICS PRESCRIPTIONS", "Forging narcotics prescriptions"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "GAMBLING OFFENSES-OTHER" %><%= label_tag :"GAMBLING OFFENSES-OTHER", "Gambling offenses-other"%></li>
<li data_case_category="harassment"><%= check_box_tag :"incidents[]", "HARASSMENT" %><%= label_tag :"HARASSMENT", "Harassment"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "ILLEGAL POSSESSION OF A WEAPON" %><%= label_tag :"ILLEGAL POSSESSION OF A WEAPON", "Illegal possession of a weapon"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "INTERFERING WITH AN OFFICER" %><%= label_tag :"INTERFERING WITH AN OFFICER", "Interfering with an officer"%></li>
<li data_case_category="fraud"><%= check_box_tag :"incidents[]", "ISSUING BAD CHECKS" %><%= label_tag :"ISSUING BAD CHECKS", "Issuing bad checks"%></li>
<li data_case_category="dispute"><%= check_box_tag :"incidents[]", "LANDLORD-TENANT DISPUTE" %><%= label_tag :"LANDLORD-TENANT DISPUTE", "Landlord-tenant dispute"%></li>
<li data_case_category="burglary"><%= check_box_tag :"incidents[]", "MANUFACTURE OR POSSESSION OF BURGLARY" %><%= label_tag :"MANUFACTURE OR POSSESSION OF BURGLARY", "Manufacture or possession of burglary"%></li>
<li data_case_category="fraud drug alcohol"><%= check_box_tag :"incidents[]", "MISREPRESENTING AGE TO OBTAIN LIQUOR" %><%= label_tag :"MISREPRESENTING AGE TO OBTAIN LIQUOR", "Misrepresenting age to obtain liquor"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "MISSING JUVENILE" %><%= label_tag :"MISSING JUVENILE", "Missing juvenile"%></li>
<li data_case_category="trespassing"><%= check_box_tag :"incidents[]", "NAL TRESPASS 3RD" %><%= label_tag :"NAL TRESPASS 3RD", "Nal trespass 3rd"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "NEGLECT OR ABUSE OF FAMILY OR CHILD" %><%= label_tag :"NEGLECT OR ABUSE OF FAMILY OR CHILD", "Neglect or abuse of family or child"%></li>
<li data_case_category="vehicles"><%= check_box_tag :"incidents[]", "OPERATING MOTOR VEHICLE WITHOUT OWNER\'S" %><%= label_tag :"OPERATING MOTOR VEHICLE WITHOUT OWNER\'S", "Operating motor vehicle without owner's"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "OTHER INVESTIGATION" %><%= label_tag :"OTHER INVESTIGATION", "Other investigation"%></li>
<li data_case_category="drug alcohol"><%= check_box_tag :"incidents[]", "OTHER LIQUOR OFFENSES" %><%= label_tag :"OTHER LIQUOR OFFENSES", "Other liquor offenses"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "OTHER MISCELLANEOUS" %><%= label_tag :"OTHER MISCELLANEOUS", "Other miscellaneous"%></li>
<li data_case_category="drug alcohol"><%= check_box_tag :"incidents[]", "POSSESSION OF ALCOHOL BY A MINOR" %><%= label_tag :"POSSESSION OF ALCOHOL BY A MINOR", "Possession of alcohol by a minor"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "POSSESSION OF DANGEROUS OR CONTROLLED DRUGS" %><%= label_tag :"POSSESSION OF DANGEROUS OR CONTROLLED DRUGS", "Possession of dangerous or controlled drugs"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "POSSESSION OF HEROIN" %><%= label_tag :"POSSESSION OF HEROIN", "Possession of heroin"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "POSSESSION OF MARIJUANA" %><%= label_tag :"POSSESSION OF MARIJUANA", "Possession of marijuana"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "POSSESSION OF NARCOTICS-GENERAL" %><%= label_tag :"POSSESSION OF NARCOTICS-GENERAL", "Possession of narcotics-general"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "POSSESSION OF PARAPHERNALIA" %><%= label_tag :"POSSESSION OF PARAPHERNALIA", "Possession of paraphernalia"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "POSSESSION OF PROHIBITED OR UNLICENSED WEAPON" %><%= label_tag :"POSSESSION OF PROHIBITED OR UNLICENSED WEAPON", "Possession of prohibited or unlicensed weapon"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "PROBATION VIOLATION" %><%= label_tag :"PROBATION VIOLATION", "Probation violation"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "PUBLIC INDECENCY" %><%= label_tag :"PUBLIC INDECENCY", "Public indecency"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "PUBLIC INDECENCY-INDECENT" %><%= label_tag :"PUBLIC INDECENCY-INDECENT", "Public indecency-indecent"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "RECKLESS BURNING" %><%= label_tag :"RECKLESS BURNING", "Reckless burning"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "RECKLESS ENDANGERMENT" %><%= label_tag :"RECKLESS ENDANGERMENT", "Reckless endangerment"%></li>
<li data_case_category="vehicles"><%= check_box_tag :"incidents[]", "RECOVERED LICENSE PLATES" %><%= label_tag :"RECOVERED LICENSE PLATES", "Recovered license plates"%></li>
<li data_case_category="vehicles"><%= check_box_tag :"incidents[]", "RECOVERED STOLEN AUTO" %><%= label_tag :"RECOVERED STOLEN AUTO", "Recovered stolen auto"%></li>
<li data_case_category="robbery"><%= check_box_tag :"incidents[]", "ROBBERY ATTEMPT NO WEAPON" %><%= label_tag :"ROBBERY ATTEMPT NO WEAPON", "Robbery attempt no weapon"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :"incidents[]", "ROBBERY ATTEMPT OTH WEAPON" %><%= label_tag :"ROBBERY ATTEMPT OTH WEAPON", "Robbery attempt oth weapon"%></li>
<li data_case_category="robbery"><%= check_box_tag :"incidents[]", "ROBBERY-STR-NO WEAPON" %><%= label_tag :"ROBBERY-STR-NO WEAPON", "Robbery-str-no weapon"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :"incidents[]", "ROBBERY-STRT-FIREARM" %><%= label_tag :"ROBBERY-STRT-FIREARM", "Robbery-strt-firearm"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :"incidents[]", "ROBBERY-STRT-OTH WEAPON" %><%= label_tag :"ROBBERY-STRT-OTH WEAPON", "Robbery-strt-oth weapon"%></li>
<li data_case_category="drug"><%= check_box_tag :"incidents[]", "SALE OF DANGEROUS OR CONTROLLED DRUGS" %><%= label_tag :"SALE OF DANGEROUS OR CONTROLLED DRUGS", "Sale of dangerous or controlled drugs"%></li>
<li data_case_category="assault sexual"><%= check_box_tag :"incidents[]", "SEX ASSAULT W/O CONSENT" %><%= label_tag :"SEX ASSAULT W/O CONSENT", "Sex assault w/o consent"%></li>
<li data_case_category="assault sexual"><%= check_box_tag :"incidents[]", "SEX ASSAULT-FORCIBLE" %><%= label_tag :"SEX ASSAULT-FORCIBLE", "Sex assault-forcible"%></li>
<li data_case_category="sexual"><%= check_box_tag :"incidents[]", "SEXUAL CONTACT FORCIBLE OR WITHOUT CONSENT" %><%= label_tag :"SEXUAL CONTACT FORCIBLE OR WITHOUT CONSENT", "Sexual contact forcible or without consent"%></li>
<li data_case_category="assault"><%= check_box_tag :"incidents[]", "SIMPLE ASSAULT" %><%= label_tag :"SIMPLE ASSAULT", "Simple assault"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "SUBPOENA SERVICE" %><%= label_tag :"SUBPOENA SERVICE", "Subpoena service"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "SUSPICIOUS FIRE" %><%= label_tag :"SUSPICIOUS FIRE", "Suspicious fire"%></li>
<li data_case_category="vehicles"><%= check_box_tag :"incidents[]", "TAMPERING WITH A MOTOR VEHICLE" %><%= label_tag :"TAMPERING WITH A MOTOR VEHICLE", "Tampering with a motor vehicle"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT FROM AUTO" %><%= label_tag :"THEFT FROM AUTO", "Theft from auto"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT FROM MOTOR VEHICLE-NON AUTO" %><%= label_tag :"THEFT FROM MOTOR VEHICLE-NON AUTO", "Theft from motor vehicle-non auto"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT FROM PERSON" %><%= label_tag :"THEFT FROM PERSON", "Theft from person"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT GREATER MISCELLANEOUS" %><%= label_tag :"THEFT GREATER MISCELLANEOUS", "Theft greater miscellaneous"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT GREATER SHOPLIFTING" %><%= label_tag :"THEFT GREATER SHOPLIFTING", "Theft greater shoplifting"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT MISCELLANEOUS" %><%= label_tag :"THEFT MISCELLANEOUS", "Theft miscellaneous"%></li>
<li data_case_category="theft vehicles"><%= check_box_tag :"incidents[]", "THEFT OF AUTO" %><%= label_tag :"THEFT OF AUTO", "Theft of auto"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT OF CHECKS OR NEGOTIABLE INSTRUMENTS" %><%= label_tag :"THEFT OF CHECKS OR NEGOTIABLE INSTRUMENTS", "Theft of checks or negotiable instruments"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT OF CREDIT CARDS" %><%= label_tag :"THEFT OF CREDIT CARDS", "Theft of credit cards"%></li>
<li data_case_category="theft vehicles"><%= check_box_tag :"incidents[]", "THEFT OF OTHER MOTOR VEHICLE" %><%= label_tag :"THEFT OF OTHER MOTOR VEHICLE", "Theft of other motor vehicle"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT OF SERVICES" %><%= label_tag :"THEFT OF SERVICES", "Theft of services"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT UNIVERSITY ACADEMIC BUILDING" %><%= label_tag :"THEFT UNIVERSITY ACADEMIC BUILDING", "Theft university academic building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT UNIVERSITY RESIDENCE BUILDING" %><%= label_tag :"THEFT UNIVERSITY RESIDENCE BUILDING", "Theft university residence building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-AUTO ACCESSORIES" %><%= label_tag :"THEFT-AUTO ACCESSORIES", "Theft-auto accessories"%></li>
<li data_case_category="theft vehicles bikes"><%= check_box_tag :"incidents[]", "THEFT-BICYCLE" %><%= label_tag :"THEFT-BICYCLE", "Theft-bicycle"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-ATTEMPTED" %><%= label_tag :"THEFT-GREATER-ATTEMPTED", "Theft-greater-attempted"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-AUTO ACCESSORIES" %><%= label_tag :"THEFT-GREATER-AUTO ACCESSORIES", "Theft-greater-auto accessories"%></li>
<li data_case_category="vehicles bikes"><%= check_box_tag :"incidents[]", "THEFT-GREATER-BICYCLES" %><%= label_tag :"THEFT-GREATER-BICYCLES", "Theft-greater-bicycles"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-FROM MAIL" %><%= label_tag :"THEFT-GREATER-FROM MAIL", "Theft-greater-from mail"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-FROM MOTOR VEHICLE" %><%= label_tag :"THEFT-GREATER-FROM MOTOR VEHICLE", "Theft-greater-from motor vehicle"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-FROM MOTOR VEHICLE-NON AUTO" %><%= label_tag :"THEFT-GREATER-FROM MOTOR VEHICLE-NON AUTO", "Theft-greater-from motor vehicle-non auto"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-FROM PERSON" %><%= label_tag :"THEFT-GREATER-FROM PERSON", "Theft-greater-from person"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-PUBLIC BUILDING" %><%= label_tag :"THEFT-GREATER-PUBLIC BUILDING", "Theft-greater-public building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-PURSE SNATCHING" %><%= label_tag :"THEFT-GREATER-PURSE SNATCHING", "Theft-greater-purse snatching"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-RESIDENCE" %><%= label_tag :"THEFT-GREATER-RESIDENCE", "Theft-greater-residence"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-UNIVERSITY ACADEMIC BUILDING" %><%= label_tag :"THEFT-GREATER-UNIVERSITY ACADEMIC BUILDING", "Theft-greater-university academic building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-GREATER-UNIVERSITY RESIDENCE BUILDING" %><%= label_tag :"THEFT-GREATER-UNIVERSITY RESIDENCE BUILDING", "Theft-greater-university residence building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-PUBLIC BUILDING" %><%= label_tag :"THEFT-PUBLIC BUILDING", "Theft-public building"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-RESIDENCE" %><%= label_tag :"THEFT-RESIDENCE", "Theft-residence"%></li>
<li data_case_category="theft"><%= check_box_tag :"incidents[]", "THEFT-SHOPLIFTING" %><%= label_tag :"THEFT-SHOPLIFTING", "Theft-shoplifting"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "THREATENING" %><%= label_tag :"THREATENING", "Threatening"%></li>
<li data_case_category="trespassing"><%= check_box_tag :"incidents[]", "TRESPASSING" %><%= label_tag :"TRESPASSING", "Trespassing"%></li>
<li data_case_category="weapons"><%= check_box_tag :"incidents[]", "UNLAWFUL DISCHARGE OF FIREARMS" %><%= label_tag :"UNLAWFUL DISCHARGE OF FIREARMS", "Unlawful discharge of firearms"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "VIOLATION OF PROTECTIVE OR RESTRAINING ORDER" %><%= label_tag :"VIOLATION OF PROTECTIVE OR RESTRAINING ORDER", "Violation of protective or restraining order"%></li>
<li data_case_category="wanted"><%= check_box_tag :"incidents[]", "WANTED PERSON NEW HAVEN" %><%= label_tag :"WANTED PERSON NEW HAVEN", "Wanted person new haven"%></li>
<li data_case_category="wanted"><%= check_box_tag :"incidents[]", "WANTED PERSON OTHER TOWN" %><%= label_tag :"WANTED PERSON OTHER TOWN", "Wanted person other town"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :"incidents[]", "WARRANT SERVICE" %><%= label_tag :"WARRANT SERVICE", "Warrant service"%></li>
<li data_case_category="breach"><%= check_box_tag :"incidents[]", "WINDOW BREAKING" %><%= label_tag :"WINDOW BREAKING", "Window breaking"%></li>
