<div class="search">
	<div class="search-inner">
		<div class="expandable">
			<a href="#">
				<div class="titlebar">
					<span class="arrow">▼</span> About
				</div>
			</a>
			<div class="contents">
				Bacon ipsum dolor amet ut ipsum spare ribs eiusmod flank beef ham est dolor jowl.
				Bacon rump minim short loin non ullamco. Eu commodo bacon pork chop, meatball laborum aliqua chuck shank.
				Ut cillum aute rump ipsum drumstick porchetta short ribs dolore short loin commodo laboris.
			</div>
		</div>
			<%= form_tag({controller: "case", action: "search"}, method:"post") do %>
			<div class="expandable">
				<a href="#">
					<div class="titlebar">
						<span class="arrow">&#9654;</span> Search by date
					</div>
				</a>
				<div class="contents hidden">
				Between <%= select_date @start_date, prefix: :start_date, order: [:month, :day, :year] %>
				and <%= select_date @end_date, prefix: :end_date, order: [:month, :day, :year] %>
				<br />
				Time of incident between 
				<%= select_time @start_time, prefix: :start_time%>
				and
				<%= select_time @end_time, prefix: :end_time %>
				<br />
				Day of the week
				<%= select(:weekday, :day, Case::DAYS) %>
				</div>
			</div>
			<div class="expandable">
				<a href="#">
					<div class="titlebar">
						<span class="arrow">&#9654;</span> Search by incident type
					</div>
				</a>
				<div class="contents hidden">
					<div id="any">
						<%= check_box_tag :all, '1', false %><%= label_tag :all, "Any" %>
					</div>
					<div id="columns">
						<div class="column left">
							<ul>
								<%= render "case/inclasses" %>
							</ul>
						</div>
						<div class="column right">
							<ul>
								<%= render "case/intypes" %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="submit">
				<%= submit_tag "Search" %>
			</div>
		<% end %>
	</div>
</div>