<div class="search">
	<div class="search-inner">
		<div class="titlebar">
			Find Incidents
		</div>
		<div class="form-contents">
			<%= form_tag({controller: "case", action: "search"}, method:"post") do %>
				<div>
				Between <%= select_date Date.new(2013,5,17), prefix: :start_date %>
				and <%= select_date Date.today, prefix: :end_date %>
				<br />
				Time of incident between 
				<%= select_time Time.new(2001,1, 1, 0,0,0), prefix: :start_time %>
				and
				<%= select_time Time.new(2001, 1, 1, 23,59,0), prefix: :end_time %>
				<br />
				Day of the week
				<%= select(:weekday, :day, Case::DAYS) %>
				</div>
				<div>
					<h4>Matching incident type:</h4>
					<div id="any">
						<%= check_box_tag :all, '1', checked='checked' %><%= label_tag :all, "Any" %>
					</div>
					<div id="columns">
						<div class="column left">
							<ul>
								<%= render "case/inclasses" %>
							</ul>
						</div>
						<div class="column right">
							<ul>
								<%= render "case/intypes" %>
							</ul>
						</div>
					</div>
				</div>
				<div class="separator"></div>
				<div id="submit">
					<%= submit_tag "Search" %>
				</div>
			<% end %>
		</div>
	</div>
</div>