<div class="search">
	<div class="search-inner">
		<div class="expandable" id="about-expand">
			<a href="#">
				<div class="titlebar" id="about-title">
					<span class="arrow">▼</span> About
				</div>
			</a>
			<div class="contents">
				Bacon ipsum dolor amet ut ipsum spare ribs eiusmod flank beef ham est dolor jowl.
				Bacon rump minim short loin non ullamco. Eu commodo bacon pork chop, meatball laborum aliqua chuck shank.
				Ut cillum aute rump ipsum drumstick porchetta short ribs dolore short loin commodo laboris.
			</div>
		</div>
			<%= form_tag({controller: "case", action: "search"}, method:"post") do %>
			<div class="expandable" id="date-expand">
				<a href="#">
					<div class="titlebar">
						<span class="arrow">&#9654;</span> Search by date
					</div>
				</a>
				<div class="contents hidden" id="date-contents">
					<div class="date-columns">
						Start date:<br />
						<%= text_field_tag :start_date, @start_date.to_s %> <br />
						End date:<br />
						<%= text_field_tag :end_date, @end_date.to_s %> <br />
						Start time:<br />
						<%= select "start_time", "hour", Case::HOURS, selected: "12" %><%= select "time", "minute", Case::MINUTES, selected: "00" %><%= select "time", "ampm", ["AM", "PM"], selected: "AM" %> <br />
						End time:<br />
						<%= select "end_time", "hour", Case::HOURS, selected: "11" %><%= select "time", "minute", Case::MINUTES, selected: "59" %><%= select "time", "ampm", ["AM", "PM"], selected: "PM" %><br />
					</div>
					<div class="date-columns">
						Day of the week
						<ul>
							<% (Case::DAYS).each do |day| %>
								<li><%= check_box_tag "days[]", day, @days.include?(day) %><%= label_tag :day, day %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="expandable" id="incidents-expand">
				<a href="#">
					<div class="titlebar">
						<span class="arrow">&#9654;</span> Search by incident type
					</div>
				</a>
				<div class="contents hidden">
					<div id="columns">
						<div class="column left">
							<div style="overflow:auto">
								<ul>
									<%= render "case/inclasses" %>
								</ul>
							</div>
						</div>
						<div class="column right">
							<div style="overflow:auto">
								<ul>
									<%= render "case/intypes" %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="submit">
				<%= submit_tag "Search" %>
			</div>
			<%= hidden_field_tag "expanded", @expanded, id: "expand-field" %>
		<% end %>
	</div>
</div>