<div id="results">
	<div id = "search-container">
		<%= render "search" %>
	</div>
	<div id = "map-container">
		<%= render "map" %>
	</div>
</div>
<div class="separator"></div>
<% if @cases.count != 0 %>
	<div class="cases">
	<table>
		<thead>
			<tr class="heading">
				<th>Date Reported</th>
				<th>Incident Type</th>
				<th>Date Occurred</th>
				<th>Time Occurred</th>
				<th>Location</th>
			</tr>
		</thead>
	<% @cases.each do |c| %>
	<tr>
		<td><%= c.date_reported %></td>
		<td><%= c.type_of_incident %></td>
		<td><%= c.date_occurred %></td>
		<td><%= c.time_occurred.strftime "%l:%M %P" %></td>
		<td><%= c.location %></td>
	</tr>
	<% end %>
	</table>
	</div>
<% end %>