<div id="results">
	<div id = "search-container">
		<%= render "search" %>
	</div>
	<div id = "map-container">
		<%= render "map" %>
	</div>
	<div class="separator"></div>
</div>
<div class="separator"></div>
<h1>All incidents</h1>
<div class="cases">
<table>
<tr class="heading">
	<td>Date reported</td>
	<td>Incident</td>
	<td>Date Occurred</td>
	<td>Time Occurred</td>
	<td>Location</td>
<% @cases.each do |c| %>
<tr>
	<td><%= c.date_reported %></td>
	<td><%= c.type_of_incident %></td>
	<td><%= c.date_occurred %></td>
	<td><%= c.time_occurred.strftime "%l:%M %P" %></td>
	<td><%= c.location %></td>
</tr>
<% end %>
</table>
</div>