<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft greater shoplifting"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :gambling %><%= label_tag :gambling, "Gambling offenses-other"%></li>
<li data_case_category="wanted"><%= check_box_tag :wanted %><%= label_tag :wanted, "Wanted person new haven"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :falsely %><%= label_tag :falsely, "Falsely reporting an incident"%></li>
<li data_case_category="assault sexual"><%= check_box_tag :sex %><%= label_tag :sex, "Sex assault-forcible"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :other %><%= label_tag :other, "Other miscellaneous"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-other-forcible"%></li>
<li data_case_category="vehicles"><%= check_box_tag :tampering %><%= label_tag :tampering, "Tampering with a motor vehicle"%></li>
<li data_case_category="drug alcohol"><%= check_box_tag :other %><%= label_tag :other, "Other liquor offenses"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :criminal %><%= label_tag :criminal, "Criminal simulation"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery-strt-firearm"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft from motor vehicle-non auto"%></li>
<li data_case_category="vehicles"><%= check_box_tag :recovered %><%= label_tag :recovered, "Recovered stolen auto"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :violation %><%= label_tag :violation, "Violation of protective or restraining order"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :suspicious %><%= label_tag :suspicious, "Suspicious fire"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft from auto"%></li>
<li data_case_category="burglary"><%= check_box_tag :manufacture %><%= label_tag :manufacture, "Manufacture or possession of burglary"%></li>
<li data_case_category="fraud drug"><%= check_box_tag :forging %><%= label_tag :forging, "Forging narcotics prescriptions"%></li>
<li data_case_category="theft vehicles"><%= check_box_tag :theft %><%= label_tag :theft, "Theft of other motor vehicle"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :subpoena %><%= label_tag :subpoena, "Subpoena service"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-apartment-non-forcible"%></li>
<li data_case_category="wanted"><%= check_box_tag :wanted %><%= label_tag :wanted, "Wanted person other town"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-public building"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :reckless %><%= label_tag :reckless, "Reckless endangerment"%></li>
<li data_case_category="robbery"><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery attempt no weapon"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :cruelty %><%= label_tag :cruelty, "Cruelty to animals"%></li>
<li data_case_category="breach"><%= check_box_tag :discharging %><%= label_tag :discharging, "Discharging fireworks"%></li>
<li data_case_category="harassment"><%= check_box_tag :harassment %><%= label_tag :harassment, "Harassment"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-nothing taken"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-from motor vehicle"%></li>
<li data_case_category="driving drug alcohol vehicles"><%= check_box_tag :driving %><%= label_tag :driving, "Driving while intoxicated-alcohol"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-attempted"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :warrant %><%= label_tag :warrant, "Warrant service"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery-strt-oth weapon"%></li>
<li data_case_category="weapons"><%= check_box_tag :carrying %><%= label_tag :carrying, "Carrying a concealed weapon"%></li>
<li data_case_category="vehicles"><%= check_box_tag :evading %><%= label_tag :evading, "Evading responsibility"%></li>
<li data_case_category="breach"><%= check_box_tag :public %><%= label_tag :public, "Public indecency-indecent"%></li>
<li data_case_category="fraud drug alcohol"><%= check_box_tag :misrepresenting %><%= label_tag :misrepresenting, "Misrepresenting age to obtain liquor"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-school/college/university-forcible"%></li>
<li data_case_category="breach"><%= check_box_tag :criminal %><%= label_tag :criminal, "Criminal mischief-public property"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :reckless %><%= label_tag :reckless, "Reckless burning"%></li>
<li data_case_category="assault"><%= check_box_tag :simple %><%= label_tag :simple, "Simple assault"%></li>
<li data_case_category="breach"><%= check_box_tag :breach %><%= label_tag :breach, "Breach of peace"%></li>
<li data_case_category="vehicles"><%= check_box_tag :operating %><%= label_tag :operating, "Operating motor vehicle without owner's"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :dog %><%= label_tag :dog, "Dog bite"%></li>
<li data_case_category="fraud"><%= check_box_tag :confidence %><%= label_tag :confidence, "Confidence-flim flam"%></li>
<li data_case_category="assault"><%= check_box_tag :assault %><%= label_tag :assault, "Assault-weapon-non firearm"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-residence"%></li>
<li data_case_category="fraud"><%= check_box_tag :issuing %><%= label_tag :issuing, "Issuing bad checks"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-shoplifting"%></li>
<li data_case_category="sexual"><%= check_box_tag :sexual %><%= label_tag :sexual, "Sexual contact forcible or without consent"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :missing %><%= label_tag :missing, "Missing juvenile"%></li>
<li data_case_category="fraud"><%= check_box_tag :forgery %><%= label_tag :forgery, "Forgery-other (checks motor vehicle"%></li>
<li data_case_category="assault sexual"><%= check_box_tag :sex %><%= label_tag :sex, "Sex assault w/o consent"%></li>
<li data_case_category="weapons"><%= check_box_tag :illegal %><%= label_tag :illegal, "Illegal possession of a weapon"%></li>
<li data_case_category="drug alcohol"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of alcohol by a minor"%></li>
<li data_case_category="weapons"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of prohibited or unlicensed weapon"%></li>
<li data_case_category="drug"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of marijuana"%></li>
<li data_case_category="vehicles bikes"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-bicycles"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-school/college/university-non forcible"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :forgery %><%= label_tag :forgery, "Forgery of government instruments"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :threatening %><%= label_tag :threatening, "Threatening"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-from person"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft university residence building"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft of checks or negotiable instruments"%></li>
<li data_case_category="weapons"><%= check_box_tag :unlawful %><%= label_tag :unlawful, "Unlawful discharge of firearms"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-commercial-forcible"%></li>
<li data_case_category="weapons"><%= check_box_tag :carrying %><%= label_tag :carrying, "Carrying a bb gun"%></li>
<li data_case_category="weapons robbery"><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery attempt oth weapon"%></li>
<li data_case_category="weapons"><%= check_box_tag :carrying %><%= label_tag :carrying, "Carrying weapon in motor vehicle"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-auto accessories"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft of services"%></li>
<li data_case_category="breach"><%= check_box_tag :criminal %><%= label_tag :criminal, "Criminal mischief-private property"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft university academic building"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :neglect %><%= label_tag :neglect, "Neglect or abuse of family or child"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-public building"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-residence"%></li>
<li data_case_category="trespassing"><%= check_box_tag :criminal %><%= label_tag :criminal, "Criminal trespass"%></li>
<li data_case_category="assault"><%= check_box_tag :assaulting %><%= label_tag :assaulting, "Assaulting a police officer or firefighter"%></li>
<li data_case_category="fraud miscellaneous"><%= check_box_tag :criminal %><%= label_tag :criminal, "Criminal impersonation-non police"%></li>
<li data_case_category="dispute"><%= check_box_tag :dispute %><%= label_tag :dispute, "Dispute-no disturbance"%></li>
<li data_case_category="drug"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of heroin"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-from mail"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-purse snatching"%></li>
<li data_case_category="drug"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of narcotics-general"%></li>
<li data_case_category="vehicles"><%= check_box_tag :recovered %><%= label_tag :recovered, "Recovered license plates"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-residence-non forcible"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-from motor vehicle-non auto"%></li>
<li data_case_category="breach"><%= check_box_tag :disorderly %><%= label_tag :disorderly, "Disorderly conduct"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft miscellaneous"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-auto accessories"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft greater miscellaneous"%></li>
<li data_case_category="dispute"><%= check_box_tag :landlord %><%= label_tag :landlord, "Landlord-tenant dispute"%></li>
<li data_case_category="breach"><%= check_box_tag :public %><%= label_tag :public, "Public indecency"%></li>
<li data_case_category="drug"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of dangerous or controlled drugs"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft from person"%></li>
<li data_case_category="trespassing"><%= check_box_tag :trespassing %><%= label_tag :trespassing, "Trespassing"%></li>
<li data_case_category="fraud"><%= check_box_tag :credit %><%= label_tag :credit, "Credit card fraud"%></li>
<li data_case_category="theft"><%= check_box_tag :attempted %><%= label_tag :attempted, "Attempted theft"%></li>
<li data_case_category="driving drug vehicles"><%= check_box_tag :driving %><%= label_tag :driving, "Driving while intoxicated-drugs"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-university residence building"%></li>
<li data_case_category="breach"><%= check_box_tag :window %><%= label_tag :window, "Window breaking"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :interfering %><%= label_tag :interfering, "Interfering with an officer"%></li>
<li data_case_category="drug"><%= check_box_tag :possession %><%= label_tag :possession, "Possession of paraphernalia"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :other %><%= label_tag :other, "Other investigation"%></li>
<li data_case_category="trespassing"><%= check_box_tag :nal %><%= label_tag :nal, "Nal trespass 3rd"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :probation %><%= label_tag :probation, "Probation violation"%></li>
<li data_case_category="miscellaneous"><%= check_box_tag :arson %><%= label_tag :arson, "Arson"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft of credit cards"%></li>
<li data_case_category="theft vehicles"><%= check_box_tag :theft %><%= label_tag :theft, "Theft of auto"%></li>
<li data_case_category="drug"><%= check_box_tag :sale %><%= label_tag :sale, "Sale of dangerous or controlled drugs"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-attempt"%></li>
<li data_case_category="theft"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-greater-university academic building"%></li>
<li data_case_category="theft vehicles bikes"><%= check_box_tag :theft %><%= label_tag :theft, "Theft-bicycle"%></li>
<li data_case_category="robbery"><%= check_box_tag :robbery %><%= label_tag :robbery, "Robbery-str-no weapon"%></li>
<li data_case_category="burglary"><%= check_box_tag :burglary %><%= label_tag :burglary, "Burglary-other-non forcible"%></li>
